.App {
	text-align: center;
	position: relative;

	button {
		font-weight: bold;
	}
}

.square {
	width: 50px;
	height: 50px;
	background-color: black;
	position: absolute;
}


.circle {
	width: 50px;
	height: 50px;
	background-color: black;
	position: absolute;
	border-radius: 50%,
}
